<div class = "row one">
<h2>Sign up</h2>
</div>
<div class = "row form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="form-group">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
  <div class="form-group">
    <%= f.label :email %> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"exampleInputEmail1" %>
  </div>

 <%= f.fields_for :user_info do |u| %>
    <div class="form-group">
    <%= u.label :first_name %><br>
    <%= u.text_field :first_name %>
  </div>
    <div class="form-group">
    <%= u.label :surname %><br>
    <%= u.text_field :surname %>
  </div>

   <div class="form-group">
    <%= u.label :gender %><br>
    <% UserInfo.genders.keys.each do |g|%>
     <div class="form-check-label">
    <%= u.label g %>
    </div>
    <div class = "form-check-input">
    <%= u.radio_button :gender, g %>
    </div>
    <% if g == resource.user_info.gender %>
    <% u.radio_button :gender, :checked => true %>
    <% end %>
    <% end %>
    </div>
    <%end%>
    <br>

    <%= f.fields_for :addresses do |a| %>
    <%= a.label :street_number %><br>
    <%= a.text_field :street_number %>
    <br>
    <%= a.label :suburb %><br>
    <%= a.text_field :suburb %>
    <br>
    <%= a.label :postcode %><br>
    <%= a.number_field :suburb, step: 1, min: 0  %>
    <br>
    <%= a.label :state %><br>
    <%= a.text_field :state %>
    <br>
    <%= a.label :country %><br>
    <%= a.text_field :country %>
    <br>

    <% end %>

<div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>

