<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= render 'user_form', user: @user %>

<h2>Addresses</h2>
<% if @user.addresses.first.id == nil %>
An address is required for purchases
<br>
<% else %>
<%@user.addresses.each do |address| %>
<% counter = 1%>
<%= "Address #{counter}: " %><br>
<%= address.street_number%>
<br>
<%= address.suburb%>,
<%= address.state%> <%= address.postcode%>
<br>
<%= address.country%>
<br>
<% counter += 1%>
<% end%>
<% end%>
<%= link_to 'Manage Addresses', addresses_path(@user) %>
<br>

<%= link_to 'Back', :back %>
<br>
<%= link_to 'Admin Dashboard', admin_dashboard_path %>