<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<table>
<thead>
<tr>
<th>Order #</th>
<th>Date Created</th>
<th>Ordered By</th>
<th>Total amount
</thead>
<tbody>
<% @orders.each do |order| %>
<tr>
<td><%= order.id %></td>
<td><%= order.created_at.localtime.to_date%></td>
<td><%= order.user.email %></td>
<td><%= number_to_currency(order.total_amount) %></td>
<td><%= link_to 'View Details', order_path(order) %></td>
<td><%= link_to 'Edit', edit_order_path(order) %></td>
<td><%= link_to 'Delete', order_path(order), method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'Add new order', new_order_path %>