<div class="row">
  <h1>Welcome to your dashboard </h1>
</div>
<div class="row">
  <h3> Current Product Listings </h3>
</div>
<div class="row">
  <% if @current_products.any? %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Product ID</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Date Listed </th>
        <th>Price </th>
        <th colspan="10"></th>

    </thead>
    <tbody>
      <% @current_products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.category.name %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.created_at.localtime.to_date%></td>
        <td><%= number_to_currency(product.price) %></td>


        <td><%= link_to 'View Details', product_path(product) %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% else %>
  <h5> You have no current product listings </h5>
  <% end %>
  <br>
</div>

<div class="row">
  <h3>Previous Product Listings </h3>
</div>
<div class="row">
  <% if @previous_products.any? %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Product ID</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Date Listed </th>
        <th>Date Sold</th>
        <th>Price </th>
        <th colspan="9"></th>

    </thead>
    <tbody>
      <% @previous_products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.category.name %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.created_at.localtime.to_date%></td>
        <td><%= product.order_line.created_at.localtime.to_date%></td>
        <td><%= number_to_currency(product.price) %></td>


        <td><%= link_to 'View Details', product_path(product) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% else %>
  <h5> You have no product listing history to display </h5>
  <% end %>
  <br>
</div>
<div class="row">
  <h3>Order History </h3>
</div>
<div class="row">
  <% if current_user.orders.any? %>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Order ID</th>
        <th>Date Ordered</th>
        <th>Total Amount</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.localtime.to_date %></td>
        <td><%= number_to_currency(order.total_amount) %></td>
        <td><%= link_to 'View Details', order_path(order) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% else %>
  <h5> There is no order history to display </h5>
  <% end %>
  <br>
</div>
<%= link_to 'Back', :back %>
</div>