<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @products.each do |product| %>
Listed by:
<%= product.user.email %><br>
Category:
<%= product.category.name %><br>
Brand:
<%= product.brand.name %><br>
Product Name:
<%= product.name%><br>
Date listed:
<%= product.created_at.localtime.to_date%><br>
Product Expiry:
<%= product.expiry_date%><br>
Price:
<%= number_to_currency(product.price) %><br>
Description:
<%= product.description%><br>
<%= link_to 'View Details', product_path(product) %>
<br>
<br>
<% end %>
<br>
<%= link_to 'Home', root_path %>
<br>
<%= link_to 'Add New Product Listing', new_product_path %>


