<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @products.each do |product| %>
Listed by:
<%= product.user.email %><br>
Category:
<%= product.category.name %><br>
Brand:
<%= product.brand.name %><br>
Product Name:
<%= product.name%><br>
Product Expiry:
<% if product.expiry_date != nil %>
<%= product.expiry_date%><br>
<% else %>
N/A<br>
<% end %>
Price:
<%= number_to_currency(product.price) %><br>
Description:
<%= product.description%><br>
<%= link_to 'View Details', product_path(product) %>
<% end %>
<br>
<%= link_to 'Home', root_path %>

