<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image">
      <%= image_tag @product.picture, size: '600', align: 'center'%>
    </div>

    <!-- The content half -->
    <div class="col-md-6 bg-light prodinfo">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4"><%= @product.brand.name %> <%= @product.name %></h3>
              <p class="text-muted mb-4">Listed by:
                <%= @product.user.email %></p>
              <div class="text-left d-flex justify-content-between mt-4">
                <p>
                  <b>Price:</b>
                  <%= number_to_currency(@product.price) %><br>
                  <b>Date listed:</b>
                  <%= @product.created_at.localtime.to_date%><br>
                  <b>Category:</b>
                  <%= @product.category.name %><br>
                  <b>Brand:</b>
                  <%= @product.brand.name %><br>
                  <b>Product Name:</b>
                  <%= @product.name %><br>
                  <b>Description:</b>
                  <%= @product.description %><br>
                  <b>Notable Ingredients:</b>
                  <% @product.ingredients.each_with_index do |ingredient, index| %>
                  <% if @product.ingredients.length > 1 && ((index + 1) < @product.ingredients.length)%>
                  <% separator = ", "%>
                  <% else %>
                  <% separator = "" %>
                  <% end %>
                  <%= ingredient.name%><%= separator %>
                  <% end %>
                  <br>
                  <b>Used: </b>
                  <%= @product.used %><br>
                  <b>Product Expiry:</b>
                  <%= @product.expiry_date %><br>
                  <b>Purchase receipt:</b><br>
                  <% if @product.receipt.attached? %>
                  <%= image_tag @product.receipt, size: '500' %>
                  <% end %>
                  <br>
                  <br>
                  <% if @product.user != current_user %>
                  <button data-stripe="payment" , class="btn btn-outline-dark">
                    Buy Now <%= number_to_currency(@product.price) %>
                  </button>

                  <script src="https://js.stripe.com/v3/"></script>

                  <script>
                    document
                      .querySelector("[data-stripe='payment']")
                      .addEventListener("click", () => {
                        const stripe = Stripe(
                          "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
                        );

                        stripe.redirectToCheckout({
                          sessionId: "<%= @session_id %>"
                        });
                      });
                  </script>
                  <% end %>
                  <br><br>
                  <%= link_to 'Back', :back %>
                  <br><br>
                  <% if can? :update, @product %>
                  <% if @product.sold == false %>

                  <%= link_to 'Edit product', edit_product_path(@product) %><br>
                  <%= link_to 'Delete product', product_path(@product), method: :delete, data: {confirm: 'Are you sure you want to delete this listing?'} %>
                  <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>