<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h1>Viewing information for <%= @brand.name %> <%= @product.name %></h1>
Product Image: 
<p> <%= image_tag @product.picture if @product.picture.attached? %> </p>
Listed by:
<%= @product.user.email %><br>
Date listed:
<%= @product.created_at.localtime.to_date%><br>
Category:
<%= @category.name %><br>
Brand:
<%= @brand.name %><br>
Product Name:
<%= @product.name %><br>
Notable Ingredients:
<% @ingredients.each_with_index do |ingredient, index| %>
<% if @ingredients.length > 1 && ((index + 1) < @ingredients.length)%>
<% separator = ", "%>
<% else %>
<% separator = "" %>
<% end %>
<%= ingredient.name%><%= separator %>
<% end %>
<br>
Used: 
<%= @product.used %><br>
Product Expiry:
<%= @product.expiry_date %><br>
Purchase receipt:
<%= image_tag @product.receipt if @product.receipt.attached? %><br>
Price:
<%= number_to_currency(@product.price) %><br>
Description:
<%= @product.description %><br>

<% if @product.user != current_user %>
<button data-stripe="payment">
  Buy Now <%= number_to_currency(@product.price) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>
<% end %>

<br>
<%#= form_with model: @order_line, url: order_lines_path, method: "post" do |f| %>
  <%#= f.hidden_field :product_id, value: @product.id %>
  <%#= f.submit "Add to cart" %>
  <%# end %>
<%# end %>

<br>



<% if can? :edit, :delete, @product %>
<%= link_to 'Edit Product Listing', edit_product_path(@product) %><br>
<%= link_to 'Delete Product Listing', product_path(@product), method: :delete, data: {confirm: 'Are you sure you want to delete this listing?'} %>
<% end %>
<br>
<%= link_to 'Back', :back %>
