<!DOCTYPE html>
<html>
  <head>
    <title>KSCMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     <% if user_signed_in? %>
     <br> Welcome to KSC Marketplace, <strong><%= current_user.user_info.first_name %></strong>!<br>
      <%= link_to 'logout', destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
